---
---

$header-bg-color: #1B1464;
$header-bg-color-secondary: #4C97D0;

$section-headings-color: #3A67A9;
$body-link-color: #FF9900;

@import "{{ site.theme }}";

.highlight .o {
  color: #FF9900;
  font-weight: bold;
}